In [2]:
import pandas as pd

In [4]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.3.1-cp313-cp313-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\users\user\miniconda3\lib\site-packages (from pandas) (2.3.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\miniconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\miniconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\user\miniconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\user\miniconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.1-cp313-cp313-win_amd64.whl (11.0 MB)
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
   - -------------------------------------- 0.5/11.0 MB 5.1 MB/s eta 0:00:03
   ------ --------------------------------- 1.8/11.0 MB 5.7 MB/s eta 0:00:02
   ------------ --------------------------- 3.4/11.0 MB 6.5 MB/s eta 0:00:02
   ------------------ --------------------- 5.0/11.0 MB 7.0 MB/s eta 0:00:01
   -------------------------- ------------- 7.3/11.0 MB 7.9 MB/s eta 0:00:01
   ----------------------------------- ---- 9.7/11.0 MB 8.5 MB/s eta 0:00:01
   ---------------------------------------- 11.0/11.0 MB 8.7 MB/s eta 0:00:00
Installing collected packages: pandas
Successfully installed pandas-2.3.1

In [3]:
df = pd.read_csv("../data/track2_train/track2_augmented_enhanced.csv")

In [4]:
X = df['content'].values
X

array(['i_marilynmonroe pasa marimacha hizo joto',
       'adan_coromoto nicolasmaduro par maricones',
       'pollobv puto mierda después carrera :thumbs_down::thumbs_down::thumbs_down::thumbs_down::thumbs_down::thumbs_down::thumbs_down::thumbs_down::thumbs_down::thumbs_down::thumbs_down::thumbs_down::thumbs_down::thumbs_down::thumbs_down::thumbs_down::thumbs_down::thumbs_down::thumbs_down::OK_hand: hdp',
       ...,
       'entreces chinguen madre malditalesbiana-s iba contestar putas locas quarieron',
       'mándalo joto',
       'fer_gay therock alexmonthy hectortrejo inspiró recordándome canción url'],
      shape=(1312,), dtype=object)

In [5]:
y = df.iloc[:,2:].values

In [10]:
df

,Unnamed: 0,content,L,G,B,T,O,NR
0,1027,i_marilynmonroe pasa marimacha hizo joto,1,1,0,0,0,0
1,367,adan_coromoto nicolasmaduro par maricones,0,1,0,0,0,0
2,549,pollobv puto mierda después carrera :thumbs_do...,0,1,0,0,0,0
3,282,puto check joto check maricón check problema,0,1,0,0,0,0
4,678,michohansen odin_dupeyron `` gay `` lago cisne...,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...
1307,110,amigo luego lesbiana lesbiana karla garcía amo...,1,0,0,0,0,0
1308,241,¿qué onda amigas ermana años dicen bisexuales ...,0,0,1,0,0,0
1309,1007,entreces chinguen madre malditalesbiana-s iba ...,1,0,0,0,0,0
1310,860,mándalo joto,0,1,0,0,0,0
1311,229,fer_gay therock alexmonthy hectortrejo inspiró...,0,0,0,0,1,0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1312 entries, 0 to 1311
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1312 non-null   int64
 1   content     1312 non-null   object
 2   L           1312 non-null   int64
 3   G           1312 non-null   int64
 4   B           1312 non-null   int64
 5   T           1312 non-null   int64
 6   O           1312 non-null   int64
 7   NR          1312 non-null   int64
dtypes: int64(7), object(1)
memory usage: 82.1+ KB

In [9]:
df.value_counts()

Unnamed: 0  content                                                                                                                                                                                           L  G  B  T  O  NR
1027        i_marilynmonroe pasa marimacha hizo joto                                                                                                                                                          1  1  0  0  0  0     2
400         lomásleídodelai » envían `` machorras '' cereso url                                                                                                                                               1  0  0  0  0  0     2
1051        aliss_one si costumbre social vivimos aunque conocido chicas trans cargan tampones esconderse lol ridículas                                                                                       0  0  0  1  0  0     2
245         weyes cejas travesti sabe dan jota tele                                                                                                                                                           0  0  0  1  0  0     2
229         fer_gay therock alexmonthy hectortrejo inspiró recordándome canción url                                                                                                                           0  0  0  0  1  0     2
                                                                                                                                                                                                                                  ..
1042        niriams ahora resulta ke ser lesbiana orgullo :face_with_tears_of_joy::face_with_tears_of_joy::face_with_tears_of_joy::face_with_tears_of_joy::face_with_tears_of_joy: mamen ke lleven exorcismo  1  0  0  0  0  0     1
1043        edith_gdi jajaja sufras pasa punto prena chicas encanta transestirse hombre llaman lesbianas                                                                                                      1  0  0  1  0  0     1
            edith_gdi jajaja sufras pasa punto prenda chicas encanta travestirse hombre llaman lesbianas                                                                                                      1  0  0  1  0  0     1
1044        ahora piensan lencha                                                                                                                                                                              1  0  0  0  0  0     1
0           ¡qué poca madre ¡pero joto manceramiguelmx machorra cdhdf prefieren defence malditos delincuentes penademuerteya url                                                                              1  1  0  0  0  0     1
Name: count, Length: 1281, dtype: int64